body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #777;
}

.task {
    padding: 10px;
}

.options-bar {
    display: flex;
    float: right;
}

.del-btn {
    margin-left: 40px;
}